@page "/Group/Sub/{MasterGroupId:int}"
@*@inherits LayoutComponentBase*@

<div class="sub-layout">
    <div class="main-section">
        <div class="top-container">
            <div class="field">Group Name: </div>
            <div class="field">Group No:</div>
            <div class="field">Effective Date:</div>
            <div class="field">End Date:</div>
        </div>
        <div class="main-content">
            @*Main Content*@
        </div>
    </div>
    <div class="right-panel">
        <ul>
            @*<li><a href="/Group/Sub/@MasterGroupId/actionItems">Action Items</a></li>*@
            <li><a href="#">Action Items</a></li>
            <li><a href="#">Health Care Services</a></li>
        </ul>
    </div>
</div>
